@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../src/styles.scss";

.title {margin-left: 1%;margin-top: 1%;font-family: monospace;}
.alert{background-color: #000; color: #FFF}