<!--
<div *ngIf="win != null && win === true" class="alert alert-success" role="alert">
   <h2>Congratulations!!!</h2> 
   <div class="row">
     <div class="col-6">
       <button type="button" class="btn-to-tryAgain btn btn-primary" (click)="init()">Try Again</button>
     </div>
     <div class="col-6">
       <button type="button" class="btn-to-change btn btn-warning" (click)="goToHome()">Change</button>
     </div>
  </div>
</div>
-->

<div [hidden]="nivelSelected == null" class="row justify-content-center panel-play"> 
  <div class="col-5 offset-2" *ngFor="let c of cards">
    <img *ngIf="c.blocked == true  && isMobile == true"  src="../../assets/img/small/{{c.index}}.png" class="imagem">
    <img *ngIf="c.blocked == false && isMobile == true" src="../../assets/img/small/interrogation.png" class="imagem" (click)="selectCard(c)">

    <img *ngIf="c.blocked == true  && (isTablet == true || isDesktop == true)"  src="../../assets/img/large/{{c.index}}.png" class="imagem">
    <img *ngIf="c.blocked == false && (isTablet == true || isDesktop == true)" src="../../assets/img/large/interrogation.png" class="imagem" (click)="selectCard(c)">
  </div>
</div>
