@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.imagem {cursor: pointer;}
.imagem-ok{cursor: pointer;box-shadow: 1px 1px 14px grey;}
.panel-play{margin-top: 5%;}

.card-margin{
    margin-bottom: 3%;
}

@include media-breakpoint-down(xs) {}

// sm: 576px
@include media-breakpoint-up(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-up(xl) {}
