/* You can add global styles to this file, and also import other style files */
button{cursor: pointer;}
a{cursor: pointer;}
.body-new-game{background-color: aliceblue !important}
.body-victory{background-image: url('/assets/img/victory.gif'); background-repeat: no-repeat; background-position-y: 25%}