@import "../../../src/styles.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//xs: 0px,
@include media-breakpoint-up(xs) {
    .btn-nivel{
        margin-bottom: 3%;
    }
    .btn-nivel-selected{
        margin-left: 1%;
    }        
}
//sm: 576px,
@include media-breakpoint-up(sm) {
    .btn-nivel{
        margin-left: 3%;
    }        
}

//md: 768px,
@include media-breakpoint-only(md) {}
//lg: 992px,
@include media-breakpoint-only(lg) {}
//xl: 1200px
@include media-breakpoint-only(xl) {}