<div class="container">  
  <div class="row">
    <div class="card col-sm-12 col-md-5 col-lg-2">
      <div class="card-body col-sm-12">
        <h1 class="card-title col-sm-12 col-md-12">Animals</h1>
          <div class="card-button col-sm-12 col-md-12">
            <a (click)="chooseTheme('Animals')" class="btn btn-primary">GO</a>
          </div>
      </div>
    </div>

    <div class="card col-sm-12 col-md-5 col-lg-2">
      <div class="card-body col-sm-12">
        <h1 class="card-title col-sm-12 col-md-12">Fruits</h1>
        <div class="card-button col-sm-12 col-md-12">
          <a (click)="chooseTheme('Fruits')" class="btn btn-primary">GO</a>
          </div>
      </div>
    </div>

    <div class="card col-sm-12 col-md-5 col-lg-2">
        <div class="card-body col-sm-12">
          <h1 class="card-title col-sm-12 col-md-12">Football</h1>
          <div class="card-button col-sm-12 col-md-12">
            <a (click)="chooseTheme('Football')" class="btn btn-primary">GO</a>
            </div>
        </div>
      </div>
    <div class="card col-sm-12 col-md-5 col-lg-2">
      <div class="card-body col-sm-12">
        <h1 class="card-title col-sm-12 col-md-12">Country</h1>
        <div class="card-button col-sm-12 col-md-12">
          <a (click)="chooseTheme('Country')" class="btn btn-primary">GO</a>
          </div>
      </div>
    </div>
  </div>
</div>